= link_to "Create New Post", new_post_path, class: 'btn btn-small btn-success', style: 'float: right; margin-bottom: 25px;'
%table.table-striped.table.table-bordered
  %tr
    %th Title
    %th{:colspan => '2'} Actions
  - @posts.each do |post|
    %tr
      %td= link_to post.title, post_path(post)
      %td.actions
        = link_to "View", post_path(post), class: 'btn'
        = link_to "Edit", edit_post_path(post), class: 'btn btn-primary'
