#admin
  - @post_months.sort.reverse.each do |month, posts|
    %h3= month.strftime("%B %Y")
    %ul.posts{:id => month.strftime("%B%Y")}
    - posts.each do |post|
      %li
        %span.day= post.created_at.strftime("%d")
        = link_to post.title, post_path(post)
        %ul.links
        	%li= link_to post.title, edit_post_path(post)
