/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "elements.less";

body {
  background: #e1e1e1 !important;
  color: #999;
}

#header a h1 {
  font-family: "bistro-script-web";
  margin-bottom: 25px;
	.transition(0.2s, ease-out);
}

#header a:hover h1 {
  color: #666;
}

a {
	text-decoration: none !important;
	.transition(0.2s, ease-out);
}


header h2 {
	font-size: 32px;
	color: #444;
	margin-bottom: 25px
}

time {
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  color: #B4B4B4;
}

#wrapper {
  width: 850px;
  margin: 0 auto;
}

article {
  background: #ffffff;
  float: left;
  width: 730px;
  padding: 60px;
  margin: 0 0 60px 0;
  .box-shadow(0 0 50px #DCDCDC)
}

article p {
	margin-top: 10px;
	margin-bottom: 20px;
}